Apache-Nifi-1.13.2/Project 2/nifi_templates/database_ingestion_flow.xml
<template encoding-version="1.3">
<description/>
<groupId>4e3d9b2e-0194-1000-a954-ddc05f721976</groupId>
<name>database_ingestion_flow</name>
<snippet>
<controllerServices>
<id>1b11d1b0-45d4-37a4-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<versionedComponentId>1b11d1b0-45d4-37a4-b512-3c98bc3be5b3</versionedComponentId>
<bulletinLevel>WARN</bulletinLevel>
<bundle>
<artifact>nifi-dbcp-service-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
</bundle>
<comments/>
<descriptors>
<entry>
<key>Database Connection URL</key>
<value>
<name>Database Connection URL</name>
</value>
</entry>
<entry>
<key>Database Driver Class Name</key>
<value>
<name>Database Driver Class Name</name>
</value>
</entry>
<entry>
<key>database-driver-locations</key>
<value>
<name>database-driver-locations</name>
</value>
</entry>
<entry>
<key>kerberos-user-service</key>
<value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
<name>kerberos-user-service</name>
</value>
</entry>
<entry>
<key>kerberos-credentials-service</key>
<value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
</value>
</entry>
<entry>
<key>kerberos-principal</key>
<value>
<name>kerberos-principal</name>
</value>
</entry>
<entry>
<key>kerberos-password</key>
<value>
<name>kerberos-password</name>
</value>
</entry>
<entry>
<key>Database User</key>
<value>
<name>Database User</name>
</value>
</entry>
<entry>
<key>Password</key>
<value>
<name>Password</name>
</value>
</entry>
<entry>
<key>Max Wait Time</key>
<value>
<name>Max Wait Time</name>
</value>
</entry>
<entry>
<key>Max Total Connections</key>
<value>
<name>Max Total Connections</name>
</value>
</entry>
<entry>
<key>Validation-query</key>
<value>
<name>Validation-query</name>
</value>
</entry>
<entry>
<key>dbcp-min-idle-conns</key>
<value>
<name>dbcp-min-idle-conns</name>
</value>
</entry>
<entry>
<key>dbcp-max-idle-conns</key>
<value>
<name>dbcp-max-idle-conns</name>
</value>
</entry>
<entry>
<key>dbcp-max-conn-lifetime</key>
<value>
<name>dbcp-max-conn-lifetime</name>
</value>
</entry>
<entry>
<key>dbcp-time-between-eviction-runs</key>
<value>
<name>dbcp-time-between-eviction-runs</name>
</value>
</entry>
<entry>
<key>dbcp-min-evictable-idle-time</key>
<value>
<name>dbcp-min-evictable-idle-time</name>
</value>
</entry>
<entry>
<key>dbcp-soft-min-evictable-idle-time</key>
<value>
<name>dbcp-soft-min-evictable-idle-time</name>
</value>
</entry>
</descriptors>
<name>Mysql</name>
<persistsState>false</persistsState>
<properties>
<entry>
<key>Database Connection URL</key>
<value>jdbc:mysql://localhost:3306/sakila</value>
</entry>
<entry>
<key>Database Driver Class Name</key>
<value>com.mysql.jdbc.Driver</value>
</entry>
<entry>
<key>database-driver-locations</key>
<value>/home/alvinnguyen41/nifi-1.28.1/lib/mysql-connector-java-9.1.0.jar</value>
</entry>
<entry>
<key>kerberos-user-service</key>
</entry>
<entry>
<key>kerberos-credentials-service</key>
</entry>
<entry>
<key>kerberos-principal</key>
</entry>
<entry>
<key>kerberos-password</key>
</entry>
<entry>
<key>Database User</key>
<value>root</value>
</entry>
<entry>
<key>Password</key>
</entry>
<entry>
<key>Max Wait Time</key>
<value>500 millis</value>
</entry>
<entry>
<key>Max Total Connections</key>
<value>8</value>
</entry>
<entry>
<key>Validation-query</key>
</entry>
<entry>
<key>dbcp-min-idle-conns</key>
<value>0</value>
</entry>
<entry>
<key>dbcp-max-idle-conns</key>
<value>8</value>
</entry>
<entry>
<key>dbcp-max-conn-lifetime</key>
<value>-1</value>
</entry>
<entry>
<key>dbcp-time-between-eviction-runs</key>
<value>-1</value>
</entry>
<entry>
<key>dbcp-min-evictable-idle-time</key>
<value>30 mins</value>
</entry>
<entry>
<key>dbcp-soft-min-evictable-idle-time</key>
<value>-1</value>
</entry>
</properties>
<state>ENABLED</state>
<type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
</controllerServices>
<controllerServices>
<id>21be5d13-e32e-39f5-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<versionedComponentId>21be5d13-e32e-39f5-96d8-7e1560f528ca</versionedComponentId>
<bulletinLevel>WARN</bulletinLevel>
<bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
</bundle>
<comments/>
<descriptors>
<entry>
<key>schema-access-strategy</key>
<value>
<name>schema-access-strategy</name>
</value>
</entry>
<entry>
<key>schema-registry</key>
<value>
<dependencies>
<dependentValues>confluent-encoded</dependentValues>
<dependentValues>schema-name</dependentValues>
<dependentValues>hwx-schema-ref-attributes</dependentValues>
<dependentValues>hwx-content-encoded-schema</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
</value>
</entry>
<entry>
<key>schema-name</key>
<value>
<dependencies>
<dependentValues>schema-name</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
</value>
</entry>
<entry>
<key>schema-version</key>
<value>
<dependencies>
<dependentValues>schema-name</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
</value>
</entry>
<entry>
<key>schema-branch</key>
<value>
<dependencies>
<dependentValues>schema-name</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
</value>
</entry>
<entry>
<key>schema-text</key>
<value>
<dependencies>
<dependentValues>schema-text-property</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
</value>
</entry>
<entry>
<key>schema-inference-cache</key>
<value>
<dependencies>
<dependentValues>infer-schema</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-inference-cache</name>
</value>
</entry>
<entry>
<key>starting-field-strategy</key>
<value>
<name>starting-field-strategy</name>
</value>
</entry>
<entry>
<key>starting-field-name</key>
<value>
<dependencies>
<dependentValues>NESTED_FIELD</dependentValues>
<propertyName>starting-field-strategy</propertyName>
</dependencies>
<name>starting-field-name</name>
</value>
</entry>
<entry>
<key>schema-application-strategy</key>
<value>
<dependencies>
<dependentValues>confluent-encoded</dependentValues>
<dependentValues>schema-name</dependentValues>
<dependentValues>schema-text-property</dependentValues>
<dependentValues>hwx-schema-ref-attributes</dependentValues>
<dependentValues>hwx-content-encoded-schema</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<dependencies>
<dependentValues>NESTED_FIELD</dependentValues>
<propertyName>starting-field-strategy</propertyName>
</dependencies>
<name>schema-application-strategy</name>
</value>
</entry>
<entry>
<key>Max String Length</key>
<value>
<name>Max String Length</name>
</value>
</entry>
<entry>
<key>Allow Comments</key>
<value>
<name>Allow Comments</name>
</value>
</entry>
<entry>
<key>Date Format</key>
<value>
<name>Date Format</name>
</value>
</entry>
<entry>
<key>Time Format</key>
<value>
<name>Time Format</name>
</value>
</entry>
<entry>
<key>Timestamp Format</key>
<value>
<name>Timestamp Format</name>
</value>
</entry>
</descriptors>
<name>JsonTreeReader</name>
<persistsState>false</persistsState>
<properties>
<entry>
<key>schema-access-strategy</key>
<value>infer-schema</value>
</entry>
<entry>
<key>schema-registry</key>
</entry>
<entry>
<key>schema-name</key>
<value>${schema.name}</value>
</entry>
<entry>
<key>schema-version</key>
</entry>
<entry>
<key>schema-branch</key>
</entry>
<entry>
<key>schema-text</key>
<value>${avro.schema}</value>
</entry>
<entry>
<key>schema-inference-cache</key>
</entry>
<entry>
<key>starting-field-strategy</key>
<value>ROOT_NODE</value>
</entry>
<entry>
<key>starting-field-name</key>
</entry>
<entry>
<key>schema-application-strategy</key>
<value>SELECTED_PART</value>
</entry>
<entry>
<key>Max String Length</key>
<value>20 MB</value>
</entry>
<entry>
<key>Allow Comments</key>
<value>false</value>
</entry>
<entry>
<key>Date Format</key>
</entry>
<entry>
<key>Time Format</key>
</entry>
<entry>
<key>Timestamp Format</key>
</entry>
</properties>
<state>ENABLED</state>
<type>org.apache.nifi.json.JsonTreeReader</type>
</controllerServices>
<processors>
<id>74702dc9-2223-3020-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<position>
<x>0.0</x>
<y>0.0</y>
</position>
<versionedComponentId>74702dc9-2223-3020-b44a-0e9154db0fd0</versionedComponentId>
<bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
</bundle>
<config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>put-db-record-record-reader</key>
<value>
<identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
<name>put-db-record-record-reader</name>
</value>
</entry>
<entry>
<key>db-type</key>
<value>
<name>db-type</name>
</value>
</entry>
<entry>
<key>put-db-record-statement-type</key>
<value>
<name>put-db-record-statement-type</name>
</value>
</entry>
<entry>
<key>Statement Type Record Path</key>
<value>
<dependencies>
<dependentValues>Use Record Path</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
</dependencies>
<name>Statement Type Record Path</name>
</value>
</entry>
<entry>
<key>Data Record Path</key>
<value>
<name>Data Record Path</name>
</value>
</entry>
<entry>
<key>put-db-record-dcbp-service</key>
<value>
<identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
<name>put-db-record-dcbp-service</name>
</value>
</entry>
<entry>
<key>put-db-record-catalog-name</key>
<value>
<name>put-db-record-catalog-name</name>
</value>
</entry>
<entry>
<key>put-db-record-schema-name</key>
<value>
<name>put-db-record-schema-name</name>
</value>
</entry>
<entry>
<key>put-db-record-table-name</key>
<value>
<name>put-db-record-table-name</name>
</value>
</entry>
<entry>
<key>put-db-record-binary-format</key>
<value>
<name>put-db-record-binary-format</name>
</value>
</entry>
<entry>
<key>put-db-record-translate-field-names</key>
<value>
<name>put-db-record-translate-field-names</name>
</value>
</entry>
<entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>
<name>put-db-record-unmatched-field-behavior</name>
</value>
</entry>
<entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>
<name>put-db-record-unmatched-column-behavior</name>
</value>
</entry>
<entry>
<key>put-db-record-update-keys</key>
<value>
<dependencies>
<dependentValues>Use statement.type Attribute</dependentValues>
<dependentValues>Use Record Path</dependentValues>
<dependentValues>UPSERT</dependentValues>
<dependentValues>UPDATE</dependentValues>
<dependentValues>SQL</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
</dependencies>
<name>put-db-record-update-keys</name>
</value>
</entry>
<entry>
<key>put-db-record-field-containing-sql</key>
<value>
<dependencies>
<dependentValues>Use statement.type Attribute</dependentValues>
<dependentValues>Use Record Path</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
</dependencies>
<name>put-db-record-field-containing-sql</name>
</value>
</entry>
<entry>
<key>put-db-record-allow-multiple-statements</key>
<value>
<dependencies>
<dependentValues>Use statement.type Attribute</dependentValues>
<dependentValues>Use Record Path</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
</dependencies>
<name>put-db-record-allow-multiple-statements</name>
</value>
</entry>
<entry>
<key>put-db-record-quoted-identifiers</key>
<value>
<name>put-db-record-quoted-identifiers</name>
</value>
</entry>
<entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>
<name>put-db-record-quoted-table-identifiers</name>
</value>
</entry>
<entry>
<key>put-db-record-query-timeout</key>
<value>
<name>put-db-record-query-timeout</name>
</value>
</entry>
<entry>
<key>rollback-on-failure</key>
<value>
<name>rollback-on-failure</name>
</value>
</entry>
<entry>
<key>table-schema-cache-size</key>
<value>
<name>table-schema-cache-size</name>
</value>
</entry>
<entry>
<key>put-db-record-max-batch-size</key>
<value>
<name>put-db-record-max-batch-size</name>
</value>
</entry>
<entry>
<key>database-session-autocommit</key>
<value>
<name>database-session-autocommit</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>put-db-record-record-reader</key>
<value>21be5d13-e32e-39f5-0000-000000000000</value>
</entry>
<entry>
<key>db-type</key>
<value>Generic</value>
</entry>
<entry>
<key>put-db-record-statement-type</key>
<value>UPDATE</value>
</entry>
<entry>
<key>Statement Type Record Path</key>
</entry>
<entry>
<key>Data Record Path</key>
</entry>
<entry>
<key>put-db-record-dcbp-service</key>
<value>1b11d1b0-45d4-37a4-0000-000000000000</value>
</entry>
<entry>
<key>put-db-record-catalog-name</key>
</entry>
<entry>
<key>put-db-record-schema-name</key>
</entry>
<entry>
<key>put-db-record-table-name</key>
<value>youtube_data</value>
</entry>
<entry>
<key>put-db-record-binary-format</key>
<value>UTF-8</value>
</entry>
<entry>
<key>put-db-record-translate-field-names</key>
<value>true</value>
</entry>
<entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>Ignore Unmatched Fields</value>
</entry>
<entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>Fail on Unmatched Columns</value>
</entry>
<entry>
<key>put-db-record-update-keys</key>
</entry>
<entry>
<key>put-db-record-field-containing-sql</key>
</entry>
<entry>
<key>put-db-record-allow-multiple-statements</key>
<value>false</value>
</entry>
<entry>
<key>put-db-record-quoted-identifiers</key>
<value>false</value>
</entry>
<entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>false</value>
</entry>
<entry>
<key>put-db-record-query-timeout</key>
<value>0 seconds</value>
</entry>
<entry>
<key>rollback-on-failure</key>
<value>false</value>
</entry>
<entry>
<key>table-schema-cache-size</key>
<value>100</value>
</entry>
<entry>
<key>put-db-record-max-batch-size</key>
<value>1000</value>
</entry>
<entry>
<key>database-session-autocommit</key>
<value>false</value>
</entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>PutDatabaseRecord</name>
<relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
</relationships>
<relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
<retry>false</retry>
</relationships>
<relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
</relationships>
<state>RUNNING</state>
<style/>
<type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
</processors>
</snippet>
<timestamp>01/15/2025 16:40:05 UTC</timestamp>
</template>
