Apache-Nifi-1.13.2/Project 1/nifi_templates/kazu_fashion_pipeline.xml
<template encoding-version="1.3">
<description/>
<groupId>4e3d9b2e-0194-1000-a954-ddc05f721976</groupId>
<name>kazu_fashion_pipeline</name>
<snippet>
<connections>
<id>1787e9a5-21f2-3a5c-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<versionedComponentId>1787e9a5-21f2-3a5c-abde-168146df8ae0</versionedComponentId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>a6dfa3fc-50b9-3749-0000-000000000000</groupId>
<id>bfd6b4ae-3c62-3798-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>bfd6b4ae-3c62-3798-8045-f58b228cc36c</versionedComponentId>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>failure</selectedRelationships>
<selectedRelationships>retry</selectedRelationships>
<selectedRelationships>success</selectedRelationships>
<source>
<groupId>a6dfa3fc-50b9-3749-0000-000000000000</groupId>
<id>02a5a919-9678-3e78-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>02a5a919-9678-3e78-8f5d-323431850b05</versionedComponentId>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>5caed5dc-ca3c-35a1-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<versionedComponentId>5caed5dc-ca3c-35a1-8e2b-6feeea070cea</versionedComponentId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>a6dfa3fc-50b9-3749-0000-000000000000</groupId>
<id>02a5a919-9678-3e78-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>02a5a919-9678-3e78-8f5d-323431850b05</versionedComponentId>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>failure</selectedRelationships>
<selectedRelationships>success</selectedRelationships>
<source>
<groupId>a6dfa3fc-50b9-3749-0000-000000000000</groupId>
<id>8443cb22-30b7-35e5-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8443cb22-30b7-35e5-9d7a-504e6c6a9a10</versionedComponentId>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>a3d5f46d-e188-321d-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<versionedComponentId>a3d5f46d-e188-321d-bcd6-793eeb0b8e4c</versionedComponentId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>a6dfa3fc-50b9-3749-0000-000000000000</groupId>
<id>8443cb22-30b7-35e5-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8443cb22-30b7-35e5-9d7a-504e6c6a9a10</versionedComponentId>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>failure</selectedRelationships>
<selectedRelationships>original</selectedRelationships>
<selectedRelationships>SQL Query</selectedRelationships>
<source>
<groupId>a6dfa3fc-50b9-3749-0000-000000000000</groupId>
<id>ee98319a-195f-3c5d-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>ee98319a-195f-3c5d-8b45-a06d6e47374b</versionedComponentId>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>a901aad8-9709-3041-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<versionedComponentId>a901aad8-9709-3041-8924-549d9dd66f8d</versionedComponentId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>a6dfa3fc-50b9-3749-0000-000000000000</groupId>
<id>d61c850e-137e-3693-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d61c850e-137e-3693-9fa6-f8f5e5e87e8d</versionedComponentId>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>success</selectedRelationships>
<source>
<groupId>a6dfa3fc-50b9-3749-0000-000000000000</groupId>
<id>e374d917-b0a1-3a3f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e374d917-b0a1-3a3f-9955-8ba8605b9acd</versionedComponentId>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>c2faf237-7f2d-3307-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<versionedComponentId>c2faf237-7f2d-3307-afe0-43f8c042f35d</versionedComponentId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>a6dfa3fc-50b9-3749-0000-000000000000</groupId>
<id>ee98319a-195f-3c5d-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>ee98319a-195f-3c5d-8b45-a06d6e47374b</versionedComponentId>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>success</selectedRelationships>
<source>
<groupId>a6dfa3fc-50b9-3749-0000-000000000000</groupId>
<id>d61c850e-137e-3693-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d61c850e-137e-3693-9fa6-f8f5e5e87e8d</versionedComponentId>
</source>
<zIndex>0</zIndex>
</connections>
<connections>
<id>ea4079fb-fd87-3b1c-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
<backPressureObjectThreshold>10000</backPressureObjectThreshold>
<destination>
<groupId>a6dfa3fc-50b9-3749-0000-000000000000</groupId>
<id>1eff09b6-1035-3a49-0000-000000000000</id>
<type>PROCESSOR</type>
</destination>
<flowFileExpiration>0 sec</flowFileExpiration>
<labelIndex>1</labelIndex>
<loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
<loadBalancePartitionAttribute/>
<loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
<loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
<name/>
<selectedRelationships>success</selectedRelationships>
<source>
<groupId>a6dfa3fc-50b9-3749-0000-000000000000</groupId>
<id>bfd6b4ae-3c62-3798-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>bfd6b4ae-3c62-3798-8045-f58b228cc36c</versionedComponentId>
</source>
<zIndex>0</zIndex>
</connections>
<controllerServices>
<id>1b11d1b0-45d4-37a4-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<versionedComponentId>1b11d1b0-45d4-37a4-b512-3c98bc3be5b3</versionedComponentId>
<bulletinLevel>WARN</bulletinLevel>
<bundle>
<artifact>nifi-dbcp-service-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
</bundle>
<comments/>
<descriptors>
<entry>
<key>Database Connection URL</key>
<value>
<name>Database Connection URL</name>
</value>
</entry>
<entry>
<key>Database Driver Class Name</key>
<value>
<name>Database Driver Class Name</name>
</value>
</entry>
<entry>
<key>database-driver-locations</key>
<value>
<name>database-driver-locations</name>
</value>
</entry>
<entry>
<key>kerberos-user-service</key>
<value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
<name>kerberos-user-service</name>
</value>
</entry>
<entry>
<key>kerberos-credentials-service</key>
<value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
</value>
</entry>
<entry>
<key>kerberos-principal</key>
<value>
<name>kerberos-principal</name>
</value>
</entry>
<entry>
<key>kerberos-password</key>
<value>
<name>kerberos-password</name>
</value>
</entry>
<entry>
<key>Database User</key>
<value>
<name>Database User</name>
</value>
</entry>
<entry>
<key>Password</key>
<value>
<name>Password</name>
</value>
</entry>
<entry>
<key>Max Wait Time</key>
<value>
<name>Max Wait Time</name>
</value>
</entry>
<entry>
<key>Max Total Connections</key>
<value>
<name>Max Total Connections</name>
</value>
</entry>
<entry>
<key>Validation-query</key>
<value>
<name>Validation-query</name>
</value>
</entry>
<entry>
<key>dbcp-min-idle-conns</key>
<value>
<name>dbcp-min-idle-conns</name>
</value>
</entry>
<entry>
<key>dbcp-max-idle-conns</key>
<value>
<name>dbcp-max-idle-conns</name>
</value>
</entry>
<entry>
<key>dbcp-max-conn-lifetime</key>
<value>
<name>dbcp-max-conn-lifetime</name>
</value>
</entry>
<entry>
<key>dbcp-time-between-eviction-runs</key>
<value>
<name>dbcp-time-between-eviction-runs</name>
</value>
</entry>
<entry>
<key>dbcp-min-evictable-idle-time</key>
<value>
<name>dbcp-min-evictable-idle-time</name>
</value>
</entry>
<entry>
<key>dbcp-soft-min-evictable-idle-time</key>
<value>
<name>dbcp-soft-min-evictable-idle-time</name>
</value>
</entry>
</descriptors>
<name>Mysql</name>
<persistsState>false</persistsState>
<properties>
<entry>
<key>Database Connection URL</key>
<value>jdbc:mysql://localhost:3306/kazu_fashion</value>
</entry>
<entry>
<key>Database Driver Class Name</key>
<value>com.mysql.jdbc.Driver</value>
</entry>
<entry>
<key>database-driver-locations</key>
<value>/home/alvinnguyen41/nifi-1.28.1/lib/mysql-connector-j-9.1.0.jar </value>
</entry>
<entry>
<key>kerberos-user-service</key>
</entry>
<entry>
<key>kerberos-credentials-service</key>
</entry>
<entry>
<key>kerberos-principal</key>
</entry>
<entry>
<key>kerberos-password</key>
</entry>
<entry>
<key>Database User</key>
<value>root</value>
</entry>
<entry>
<key>Password</key>
</entry>
<entry>
<key>Max Wait Time</key>
<value>500 millis</value>
</entry>
<entry>
<key>Max Total Connections</key>
<value>8</value>
</entry>
<entry>
<key>Validation-query</key>
</entry>
<entry>
<key>dbcp-min-idle-conns</key>
<value>0</value>
</entry>
<entry>
<key>dbcp-max-idle-conns</key>
<value>8</value>
</entry>
<entry>
<key>dbcp-max-conn-lifetime</key>
<value>-1</value>
</entry>
<entry>
<key>dbcp-time-between-eviction-runs</key>
<value>-1</value>
</entry>
<entry>
<key>dbcp-min-evictable-idle-time</key>
<value>30 mins</value>
</entry>
<entry>
<key>dbcp-soft-min-evictable-idle-time</key>
<value>-1</value>
</entry>
</properties>
<state>ENABLED</state>
<type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
</controllerServices>
<controllerServices>
<id>2679c814-427d-3108-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<versionedComponentId>2679c814-427d-3108-9b2f-8f599215cc40</versionedComponentId>
<bulletinLevel>WARN</bulletinLevel>
<bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
</bundle>
<comments/>
<descriptors>
<entry>
<key>Schema Write Strategy</key>
<value>
<name>Schema Write Strategy</name>
</value>
</entry>
<entry>
<key>schema-cache</key>
<value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
</value>
</entry>
<entry>
<key>schema-protocol-version</key>
<value>
<dependencies>
<dependentValues>hwx-schema-ref-attributes</dependentValues>
<dependentValues>hwx-content-encoded-schema</dependentValues>
<propertyName>Schema Write Strategy</propertyName>
</dependencies>
<name>schema-protocol-version</name>
</value>
</entry>
<entry>
<key>schema-access-strategy</key>
<value>
<name>schema-access-strategy</name>
</value>
</entry>
<entry>
<key>schema-registry</key>
<value>
<dependencies>
<dependentValues>confluent-encoded</dependentValues>
<dependentValues>schema-name</dependentValues>
<dependentValues>hwx-schema-ref-attributes</dependentValues>
<dependentValues>hwx-content-encoded-schema</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
</value>
</entry>
<entry>
<key>schema-name</key>
<value>
<dependencies>
<dependentValues>schema-name</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
</value>
</entry>
<entry>
<key>schema-version</key>
<value>
<dependencies>
<dependentValues>schema-name</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
</value>
</entry>
<entry>
<key>schema-branch</key>
<value>
<dependencies>
<dependentValues>schema-name</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
</value>
</entry>
<entry>
<key>schema-text</key>
<value>
<dependencies>
<dependentValues>schema-text-property</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
</value>
</entry>
<entry>
<key>Date Format</key>
<value>
<name>Date Format</name>
</value>
</entry>
<entry>
<key>Time Format</key>
<value>
<name>Time Format</name>
</value>
</entry>
<entry>
<key>Timestamp Format</key>
<value>
<name>Timestamp Format</name>
</value>
</entry>
<entry>
<key>CSV Format</key>
<value>
<name>CSV Format</name>
</value>
</entry>
<entry>
<key>Value Separator</key>
<value>
<dependencies>
<dependentValues>custom</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>Value Separator</name>
</value>
</entry>
<entry>
<key>Include Header Line</key>
<value>
<name>Include Header Line</name>
</value>
</entry>
<entry>
<key>Quote Character</key>
<value>
<dependencies>
<dependentValues>custom</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>Quote Character</name>
</value>
</entry>
<entry>
<key>Escape Character</key>
<value>
<dependencies>
<dependentValues>custom</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>Escape Character</name>
</value>
</entry>
<entry>
<key>Comment Marker</key>
<value>
<dependencies>
<dependentValues>custom</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>Comment Marker</name>
</value>
</entry>
<entry>
<key>Null String</key>
<value>
<dependencies>
<dependentValues>custom</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>Null String</name>
</value>
</entry>
<entry>
<key>Trim Fields</key>
<value>
<dependencies>
<dependentValues>custom</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>Trim Fields</name>
</value>
</entry>
<entry>
<key>Quote Mode</key>
<value>
<dependencies>
<dependentValues>custom</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>Quote Mode</name>
</value>
</entry>
<entry>
<key>Record Separator</key>
<value>
<dependencies>
<dependentValues>custom</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>Record Separator</name>
</value>
</entry>
<entry>
<key>Include Trailing Delimiter</key>
<value>
<dependencies>
<dependentValues>custom</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>Include Trailing Delimiter</name>
</value>
</entry>
<entry>
<key>csvutils-character-set</key>
<value>
<name>csvutils-character-set</name>
</value>
</entry>
</descriptors>
<name>CSVRecordSetWriter</name>
<persistsState>false</persistsState>
<properties>
<entry>
<key>Schema Write Strategy</key>
<value>no-schema</value>
</entry>
<entry>
<key>schema-cache</key>
</entry>
<entry>
<key>schema-protocol-version</key>
<value>1</value>
</entry>
<entry>
<key>schema-access-strategy</key>
<value>inherit-record-schema</value>
</entry>
<entry>
<key>schema-registry</key>
</entry>
<entry>
<key>schema-name</key>
<value>${schema.name}</value>
</entry>
<entry>
<key>schema-version</key>
</entry>
<entry>
<key>schema-branch</key>
</entry>
<entry>
<key>schema-text</key>
<value>${avro.schema}</value>
</entry>
<entry>
<key>Date Format</key>
</entry>
<entry>
<key>Time Format</key>
</entry>
<entry>
<key>Timestamp Format</key>
</entry>
<entry>
<key>CSV Format</key>
<value>custom</value>
</entry>
<entry>
<key>Value Separator</key>
<value>,</value>
</entry>
<entry>
<key>Include Header Line</key>
<value>true</value>
</entry>
<entry>
<key>Quote Character</key>
<value>"</value>
</entry>
<entry>
<key>Escape Character</key>
<value>\</value>
</entry>
<entry>
<key>Comment Marker</key>
</entry>
<entry>
<key>Null String</key>
</entry>
<entry>
<key>Trim Fields</key>
<value>true</value>
</entry>
<entry>
<key>Quote Mode</key>
<value>MINIMAL</value>
</entry>
<entry>
<key>Record Separator</key>
<value>\n</value>
</entry>
<entry>
<key>Include Trailing Delimiter</key>
<value>false</value>
</entry>
<entry>
<key>csvutils-character-set</key>
<value>UTF-8</value>
</entry>
</properties>
<state>ENABLED</state>
<type>org.apache.nifi.csv.CSVRecordSetWriter</type>
</controllerServices>
<controllerServices>
<id>7d9bda72-5029-33fa-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<versionedComponentId>7d9bda72-5029-33fa-93e3-0e5da9efa425</versionedComponentId>
<bulletinLevel>WARN</bulletinLevel>
<bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
</bundle>
<comments/>
<descriptors>
<entry>
<key>schema-access-strategy</key>
<value>
<name>schema-access-strategy</name>
</value>
</entry>
<entry>
<key>schema-registry</key>
<value>
<dependencies>
<dependentValues>confluent-encoded</dependentValues>
<dependentValues>schema-name</dependentValues>
<dependentValues>hwx-schema-ref-attributes</dependentValues>
<dependentValues>hwx-content-encoded-schema</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
</value>
</entry>
<entry>
<key>schema-name</key>
<value>
<dependencies>
<dependentValues>schema-name</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
</value>
</entry>
<entry>
<key>schema-version</key>
<value>
<dependencies>
<dependentValues>schema-name</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
</value>
</entry>
<entry>
<key>schema-branch</key>
<value>
<dependencies>
<dependentValues>schema-name</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
</value>
</entry>
<entry>
<key>schema-text</key>
<value>
<dependencies>
<dependentValues>schema-text-property</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
</value>
</entry>
<entry>
<key>csv-reader-csv-parser</key>
<value>
<name>csv-reader-csv-parser</name>
</value>
</entry>
<entry>
<key>Date Format</key>
<value>
<name>Date Format</name>
</value>
</entry>
<entry>
<key>Time Format</key>
<value>
<name>Time Format</name>
</value>
</entry>
<entry>
<key>Timestamp Format</key>
<value>
<name>Timestamp Format</name>
</value>
</entry>
<entry>
<key>CSV Format</key>
<value>
<name>CSV Format</name>
</value>
</entry>
<entry>
<key>Value Separator</key>
<value>
<dependencies>
<dependentValues>custom</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>Value Separator</name>
</value>
</entry>
<entry>
<key>Record Separator</key>
<value>
<dependencies>
<dependentValues>custom</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>Record Separator</name>
</value>
</entry>
<entry>
<key>Skip Header Line</key>
<value>
<name>Skip Header Line</name>
</value>
</entry>
<entry>
<key>ignore-csv-header</key>
<value>
<name>ignore-csv-header</name>
</value>
</entry>
<entry>
<key>Quote Character</key>
<value>
<dependencies>
<dependentValues>custom</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>Quote Character</name>
</value>
</entry>
<entry>
<key>Escape Character</key>
<value>
<dependencies>
<dependentValues>custom</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>Escape Character</name>
</value>
</entry>
<entry>
<key>Comment Marker</key>
<value>
<dependencies>
<dependentValues>custom</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>Comment Marker</name>
</value>
</entry>
<entry>
<key>Null String</key>
<value>
<dependencies>
<dependentValues>custom</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>Null String</name>
</value>
</entry>
<entry>
<key>Trim Fields</key>
<value>
<dependencies>
<dependentValues>custom</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>Trim Fields</name>
</value>
</entry>
<entry>
<key>csvutils-character-set</key>
<value>
<name>csvutils-character-set</name>
</value>
</entry>
<entry>
<key>csvutils-allow-duplicate-header-names</key>
<value>
<dependencies>
<dependentValues>custom</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>csvutils-allow-duplicate-header-names</name>
</value>
</entry>
<entry>
<key>Trim double quote</key>
<value>
<dependencies>
<dependentValues>rfc-4180</dependentValues>
<propertyName>CSV Format</propertyName>
</dependencies>
<name>Trim double quote</name>
</value>
</entry>
</descriptors>
<name>CSVReader</name>
<persistsState>false</persistsState>
<properties>
<entry>
<key>schema-access-strategy</key>
<value>infer-schema</value>
</entry>
<entry>
<key>schema-registry</key>
</entry>
<entry>
<key>schema-name</key>
<value>${schema.name}</value>
</entry>
<entry>
<key>schema-version</key>
</entry>
<entry>
<key>schema-branch</key>
</entry>
<entry>
<key>schema-text</key>
<value>${avro.schema}</value>
</entry>
<entry>
<key>csv-reader-csv-parser</key>
<value>commons-csv</value>
</entry>
<entry>
<key>Date Format</key>
</entry>
<entry>
<key>Time Format</key>
</entry>
<entry>
<key>Timestamp Format</key>
</entry>
<entry>
<key>CSV Format</key>
<value>custom</value>
</entry>
<entry>
<key>Value Separator</key>
<value>,</value>
</entry>
<entry>
<key>Record Separator</key>
<value>\n</value>
</entry>
<entry>
<key>Skip Header Line</key>
<value>false</value>
</entry>
<entry>
<key>ignore-csv-header</key>
<value>false</value>
</entry>
<entry>
<key>Quote Character</key>
<value>"</value>
</entry>
<entry>
<key>Escape Character</key>
<value>\</value>
</entry>
<entry>
<key>Comment Marker</key>
</entry>
<entry>
<key>Null String</key>
</entry>
<entry>
<key>Trim Fields</key>
<value>true</value>
</entry>
<entry>
<key>csvutils-character-set</key>
<value>UTF-8</value>
</entry>
<entry>
<key>csvutils-allow-duplicate-header-names</key>
<value>true</value>
</entry>
<entry>
<key>Trim double quote</key>
<value>true</value>
</entry>
</properties>
<state>ENABLED</state>
<type>org.apache.nifi.csv.CSVReader</type>
</controllerServices>
<controllerServices>
<id>e8719d07-7f86-3c6b-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<versionedComponentId>e8719d07-7f86-3c6b-b812-f70e7c191c08</versionedComponentId>
<bulletinLevel>WARN</bulletinLevel>
<bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
</bundle>
<comments/>
<descriptors>
<entry>
<key>Schema Write Strategy</key>
<value>
<name>Schema Write Strategy</name>
</value>
</entry>
<entry>
<key>schema-cache</key>
<value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
</value>
</entry>
<entry>
<key>schema-protocol-version</key>
<value>
<dependencies>
<dependentValues>hwx-schema-ref-attributes</dependentValues>
<dependentValues>hwx-content-encoded-schema</dependentValues>
<propertyName>Schema Write Strategy</propertyName>
</dependencies>
<name>schema-protocol-version</name>
</value>
</entry>
<entry>
<key>schema-access-strategy</key>
<value>
<name>schema-access-strategy</name>
</value>
</entry>
<entry>
<key>schema-registry</key>
<value>
<dependencies>
<dependentValues>confluent-encoded</dependentValues>
<dependentValues>schema-name</dependentValues>
<dependentValues>hwx-schema-ref-attributes</dependentValues>
<dependentValues>hwx-content-encoded-schema</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
</value>
</entry>
<entry>
<key>schema-name</key>
<value>
<dependencies>
<dependentValues>schema-name</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
</value>
</entry>
<entry>
<key>schema-version</key>
<value>
<dependencies>
<dependentValues>schema-name</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
</value>
</entry>
<entry>
<key>schema-branch</key>
<value>
<dependencies>
<dependentValues>schema-name</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
</value>
</entry>
<entry>
<key>schema-text</key>
<value>
<dependencies>
<dependentValues>schema-text-property</dependentValues>
<propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
</value>
</entry>
<entry>
<key>Date Format</key>
<value>
<name>Date Format</name>
</value>
</entry>
<entry>
<key>Time Format</key>
<value>
<name>Time Format</name>
</value>
</entry>
<entry>
<key>Timestamp Format</key>
<value>
<name>Timestamp Format</name>
</value>
</entry>
<entry>
<key>Pretty Print JSON</key>
<value>
<name>Pretty Print JSON</name>
</value>
</entry>
<entry>
<key>suppress-nulls</key>
<value>
<name>suppress-nulls</name>
</value>
</entry>
<entry>
<key>Allow Scientific Notation</key>
<value>
<name>Allow Scientific Notation</name>
</value>
</entry>
<entry>
<key>output-grouping</key>
<value>
<name>output-grouping</name>
</value>
</entry>
<entry>
<key>compression-format</key>
<value>
<name>compression-format</name>
</value>
</entry>
<entry>
<key>compression-level</key>
<value>
<dependencies>
<dependentValues>gzip</dependentValues>
<propertyName>compression-format</propertyName>
</dependencies>
<name>compression-level</name>
</value>
</entry>
</descriptors>
<name>JsonRecordSetWriter</name>
<persistsState>false</persistsState>
<properties>
<entry>
<key>Schema Write Strategy</key>
<value>no-schema</value>
</entry>
<entry>
<key>schema-cache</key>
</entry>
<entry>
<key>schema-protocol-version</key>
<value>1</value>
</entry>
<entry>
<key>schema-access-strategy</key>
<value>inherit-record-schema</value>
</entry>
<entry>
<key>schema-registry</key>
</entry>
<entry>
<key>schema-name</key>
<value>${schema.name}</value>
</entry>
<entry>
<key>schema-version</key>
</entry>
<entry>
<key>schema-branch</key>
</entry>
<entry>
<key>schema-text</key>
<value>${avro.schema}</value>
</entry>
<entry>
<key>Date Format</key>
</entry>
<entry>
<key>Time Format</key>
</entry>
<entry>
<key>Timestamp Format</key>
</entry>
<entry>
<key>Pretty Print JSON</key>
<value>false</value>
</entry>
<entry>
<key>suppress-nulls</key>
<value>never-suppress</value>
</entry>
<entry>
<key>Allow Scientific Notation</key>
<value>true</value>
</entry>
<entry>
<key>output-grouping</key>
<value>output-array</value>
</entry>
<entry>
<key>compression-format</key>
<value>none</value>
</entry>
<entry>
<key>compression-level</key>
<value>1</value>
</entry>
</properties>
<state>ENABLED</state>
<type>org.apache.nifi.json.JsonRecordSetWriter</type>
</controllerServices>
<processors>
<id>02a5a919-9678-3e78-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<position>
<x>24.0</x>
<y>480.0</y>
</position>
<versionedComponentId>02a5a919-9678-3e78-8f5d-323431850b05</versionedComponentId>
<bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
</bundle>
<config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>put-db-record-record-reader</key>
<value>
<identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
<name>put-db-record-record-reader</name>
</value>
</entry>
<entry>
<key>db-type</key>
<value>
<name>db-type</name>
</value>
</entry>
<entry>
<key>put-db-record-statement-type</key>
<value>
<name>put-db-record-statement-type</name>
</value>
</entry>
<entry>
<key>Statement Type Record Path</key>
<value>
<dependencies>
<dependentValues>Use Record Path</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
</dependencies>
<name>Statement Type Record Path</name>
</value>
</entry>
<entry>
<key>Data Record Path</key>
<value>
<name>Data Record Path</name>
</value>
</entry>
<entry>
<key>put-db-record-dcbp-service</key>
<value>
<identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
<name>put-db-record-dcbp-service</name>
</value>
</entry>
<entry>
<key>put-db-record-catalog-name</key>
<value>
<name>put-db-record-catalog-name</name>
</value>
</entry>
<entry>
<key>put-db-record-schema-name</key>
<value>
<name>put-db-record-schema-name</name>
</value>
</entry>
<entry>
<key>put-db-record-table-name</key>
<value>
<name>put-db-record-table-name</name>
</value>
</entry>
<entry>
<key>put-db-record-binary-format</key>
<value>
<name>put-db-record-binary-format</name>
</value>
</entry>
<entry>
<key>put-db-record-translate-field-names</key>
<value>
<name>put-db-record-translate-field-names</name>
</value>
</entry>
<entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>
<name>put-db-record-unmatched-field-behavior</name>
</value>
</entry>
<entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>
<name>put-db-record-unmatched-column-behavior</name>
</value>
</entry>
<entry>
<key>put-db-record-update-keys</key>
<value>
<dependencies>
<dependentValues>Use statement.type Attribute</dependentValues>
<dependentValues>Use Record Path</dependentValues>
<dependentValues>UPSERT</dependentValues>
<dependentValues>UPDATE</dependentValues>
<dependentValues>SQL</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
</dependencies>
<name>put-db-record-update-keys</name>
</value>
</entry>
<entry>
<key>put-db-record-field-containing-sql</key>
<value>
<dependencies>
<dependentValues>Use statement.type Attribute</dependentValues>
<dependentValues>Use Record Path</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
</dependencies>
<name>put-db-record-field-containing-sql</name>
</value>
</entry>
<entry>
<key>put-db-record-allow-multiple-statements</key>
<value>
<dependencies>
<dependentValues>Use statement.type Attribute</dependentValues>
<dependentValues>Use Record Path</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
</dependencies>
<name>put-db-record-allow-multiple-statements</name>
</value>
</entry>
<entry>
<key>put-db-record-quoted-identifiers</key>
<value>
<name>put-db-record-quoted-identifiers</name>
</value>
</entry>
<entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>
<name>put-db-record-quoted-table-identifiers</name>
</value>
</entry>
<entry>
<key>put-db-record-query-timeout</key>
<value>
<name>put-db-record-query-timeout</name>
</value>
</entry>
<entry>
<key>rollback-on-failure</key>
<value>
<name>rollback-on-failure</name>
</value>
</entry>
<entry>
<key>table-schema-cache-size</key>
<value>
<name>table-schema-cache-size</name>
</value>
</entry>
<entry>
<key>put-db-record-max-batch-size</key>
<value>
<name>put-db-record-max-batch-size</name>
</value>
</entry>
<entry>
<key>database-session-autocommit</key>
<value>
<name>database-session-autocommit</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>put-db-record-record-reader</key>
<value>7d9bda72-5029-33fa-0000-000000000000</value>
</entry>
<entry>
<key>db-type</key>
<value>Generic</value>
</entry>
<entry>
<key>put-db-record-statement-type</key>
<value>UPDATE</value>
</entry>
<entry>
<key>Statement Type Record Path</key>
</entry>
<entry>
<key>Data Record Path</key>
</entry>
<entry>
<key>put-db-record-dcbp-service</key>
<value>1b11d1b0-45d4-37a4-0000-000000000000</value>
</entry>
<entry>
<key>put-db-record-catalog-name</key>
</entry>
<entry>
<key>put-db-record-schema-name</key>
<value>public</value>
</entry>
<entry>
<key>put-db-record-table-name</key>
<value>kazu_fashion</value>
</entry>
<entry>
<key>put-db-record-binary-format</key>
<value>UTF-8</value>
</entry>
<entry>
<key>put-db-record-translate-field-names</key>
<value>true</value>
</entry>
<entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>Ignore Unmatched Fields</value>
</entry>
<entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>Fail on Unmatched Columns</value>
</entry>
<entry>
<key>put-db-record-update-keys</key>
</entry>
<entry>
<key>put-db-record-field-containing-sql</key>
</entry>
<entry>
<key>put-db-record-allow-multiple-statements</key>
<value>false</value>
</entry>
<entry>
<key>put-db-record-quoted-identifiers</key>
<value>false</value>
</entry>
<entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>false</value>
</entry>
<entry>
<key>put-db-record-query-timeout</key>
<value>0 seconds</value>
</entry>
<entry>
<key>rollback-on-failure</key>
<value>false</value>
</entry>
<entry>
<key>table-schema-cache-size</key>
<value>100</value>
</entry>
<entry>
<key>put-db-record-max-batch-size</key>
<value>1000</value>
</entry>
<entry>
<key>database-session-autocommit</key>
<value>false</value>
</entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>PutDatabaseRecord</name>
<relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
</relationships>
<relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
<retry>false</retry>
</relationships>
<relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
</relationships>
<state>RUNNING</state>
<style/>
<type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
</processors>
<processors>
<id>1eff09b6-1035-3a49-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<position>
<x>1152.0</x>
<y>224.0</y>
</position>
<bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
</bundle>
<config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>Directory</key>
<value>
<name>Directory</name>
</value>
</entry>
<entry>
<key>Conflict Resolution Strategy</key>
<value>
<name>Conflict Resolution Strategy</name>
</value>
</entry>
<entry>
<key>Create Missing Directories</key>
<value>
<name>Create Missing Directories</name>
</value>
</entry>
<entry>
<key>Maximum File Count</key>
<value>
<name>Maximum File Count</name>
</value>
</entry>
<entry>
<key>Last Modified Time</key>
<value>
<name>Last Modified Time</name>
</value>
</entry>
<entry>
<key>Permissions</key>
<value>
<name>Permissions</name>
</value>
</entry>
<entry>
<key>Owner</key>
<value>
<name>Owner</name>
</value>
</entry>
<entry>
<key>Group</key>
<value>
<name>Group</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>Directory</key>
<value>/home/alvinnguyen41/output_file</value>
</entry>
<entry>
<key>Conflict Resolution Strategy</key>
<value>fail</value>
</entry>
<entry>
<key>Create Missing Directories</key>
<value>true</value>
</entry>
<entry>
<key>Maximum File Count</key>
</entry>
<entry>
<key>Last Modified Time</key>
</entry>
<entry>
<key>Permissions</key>
</entry>
<entry>
<key>Owner</key>
</entry>
<entry>
<key>Group</key>
</entry>
</properties>
<retriedRelationships>failure</retriedRelationships>
<retriedRelationships>success</retriedRelationships>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>PutFile</name>
<relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>true</retry>
</relationships>
<relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>true</retry>
</relationships>
<state>RUNNING</state>
<style/>
<type>org.apache.nifi.processors.standard.PutFile</type>
</processors>
<processors>
<id>8443cb22-30b7-35e5-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<position>
<x>24.0</x>
<y>232.0</y>
</position>
<versionedComponentId>8443cb22-30b7-35e5-9d7a-504e6c6a9a10</versionedComponentId>
<bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
</bundle>
<config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>record-reader</key>
<value>
<identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
<name>record-reader</name>
</value>
</entry>
<entry>
<key>record-writer</key>
<value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
<name>record-writer</name>
</value>
</entry>
<entry>
<key>include-zero-record-flowfiles</key>
<value>
<name>include-zero-record-flowfiles</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>record-reader</key>
<value>7d9bda72-5029-33fa-0000-000000000000</value>
</entry>
<entry>
<key>record-writer</key>
<value>e8719d07-7f86-3c6b-0000-000000000000</value>
</entry>
<entry>
<key>include-zero-record-flowfiles</key>
<value>true</value>
</entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>ConvertRecord</name>
<relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
</relationships>
<relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
</relationships>
<state>RUNNING</state>
<style/>
<type>org.apache.nifi.processors.standard.ConvertRecord</type>
</processors>
<processors>
<id>bfd6b4ae-3c62-3798-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<position>
<x>736.0</x>
<y>472.0</y>
</position>
<versionedComponentId>bfd6b4ae-3c62-3798-8045-f58b228cc36c</versionedComponentId>
<bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
</bundle>
<config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>Log Level</key>
<value>
<name>Log Level</name>
</value>
</entry>
<entry>
<key>Log Payload</key>
<value>
<name>Log Payload</name>
</value>
</entry>
<entry>
<key>Attributes to Log</key>
<value>
<name>Attributes to Log</name>
</value>
</entry>
<entry>
<key>attributes-to-log-regex</key>
<value>
<name>attributes-to-log-regex</name>
</value>
</entry>
<entry>
<key>Attributes to Ignore</key>
<value>
<name>Attributes to Ignore</name>
</value>
</entry>
<entry>
<key>attributes-to-ignore-regex</key>
<value>
<name>attributes-to-ignore-regex</name>
</value>
</entry>
<entry>
<key>Log FlowFile Properties</key>
<value>
<name>Log FlowFile Properties</name>
</value>
</entry>
<entry>
<key>Output Format</key>
<value>
<name>Output Format</name>
</value>
</entry>
<entry>
<key>Log prefix</key>
<value>
<name>Log prefix</name>
</value>
</entry>
<entry>
<key>character-set</key>
<value>
<name>character-set</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>Log Level</key>
<value>info</value>
</entry>
<entry>
<key>Log Payload</key>
<value>false</value>
</entry>
<entry>
<key>Attributes to Log</key>
</entry>
<entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
</entry>
<entry>
<key>Attributes to Ignore</key>
</entry>
<entry>
<key>attributes-to-ignore-regex</key>
</entry>
<entry>
<key>Log FlowFile Properties</key>
<value>true</value>
</entry>
<entry>
<key>Output Format</key>
<value>Line per Attribute</value>
</entry>
<entry>
<key>Log prefix</key>
</entry>
<entry>
<key>character-set</key>
<value>UTF-8</value>
</entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>LogAttribute</name>
<relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
</relationships>
<state>RUNNING</state>
<style/>
<type>org.apache.nifi.processors.standard.LogAttribute</type>
</processors>
<processors>
<id>d61c850e-137e-3693-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<position>
<x>688.0</x>
<y>0.0</y>
</position>
<versionedComponentId>d61c850e-137e-3693-9fa6-f8f5e5e87e8d</versionedComponentId>
<bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
</bundle>
<config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>Delete Attributes Expression</key>
<value>
<name>Delete Attributes Expression</name>
</value>
</entry>
<entry>
<key>Store State</key>
<value>
<name>Store State</name>
</value>
</entry>
<entry>
<key>Stateful Variables Initial Value</key>
<value>
<name>Stateful Variables Initial Value</name>
</value>
</entry>
<entry>
<key>canonical-value-lookup-cache-size</key>
<value>
<name>canonical-value-lookup-cache-size</name>
</value>
</entry>
<entry>
<key>file.source</key>
<value>
<name>file.source</name>
</value>
</entry>
<entry>
<key>processing.timestamp</key>
<value>
<name>processing.timestamp</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>Delete Attributes Expression</key>
</entry>
<entry>
<key>Store State</key>
<value>Do not store state</value>
</entry>
<entry>
<key>Stateful Variables Initial Value</key>
</entry>
<entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
</entry>
<entry>
<key>file.source</key>
<value>local</value>
</entry>
<entry>
<key>processing.timestamp</key>
<value>${now():format("yyyy-MM-dd HH:mm:ss")}</value>
</entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>UpdateAttribute</name>
<relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
</relationships>
<state>RUNNING</state>
<style/>
<type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
</processors>
<processors>
<id>e374d917-b0a1-3a3f-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<position>
<x>0.0</x>
<y>0.0</y>
</position>
<versionedComponentId>e374d917-b0a1-3a3f-9955-8ba8605b9acd</versionedComponentId>
<bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
</bundle>
<config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>Input Directory</key>
<value>
<name>Input Directory</name>
</value>
</entry>
<entry>
<key>File Filter</key>
<value>
<name>File Filter</name>
</value>
</entry>
<entry>
<key>Path Filter</key>
<value>
<name>Path Filter</name>
</value>
</entry>
<entry>
<key>Batch Size</key>
<value>
<name>Batch Size</name>
</value>
</entry>
<entry>
<key>Keep Source File</key>
<value>
<name>Keep Source File</name>
</value>
</entry>
<entry>
<key>Recurse Subdirectories</key>
<value>
<name>Recurse Subdirectories</name>
</value>
</entry>
<entry>
<key>Polling Interval</key>
<value>
<name>Polling Interval</name>
</value>
</entry>
<entry>
<key>Ignore Hidden Files</key>
<value>
<name>Ignore Hidden Files</name>
</value>
</entry>
<entry>
<key>Minimum File Age</key>
<value>
<name>Minimum File Age</name>
</value>
</entry>
<entry>
<key>Maximum File Age</key>
<value>
<name>Maximum File Age</name>
</value>
</entry>
<entry>
<key>Minimum File Size</key>
<value>
<name>Minimum File Size</name>
</value>
</entry>
<entry>
<key>Maximum File Size</key>
<value>
<name>Maximum File Size</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>Input Directory</key>
<value>/home/alvinnguyen41/input_files</value>
</entry>
<entry>
<key>File Filter</key>
<value>Kazu_Fashion.csv</value>
</entry>
<entry>
<key>Path Filter</key>
</entry>
<entry>
<key>Batch Size</key>
<value>10</value>
</entry>
<entry>
<key>Keep Source File</key>
<value>true</value>
</entry>
<entry>
<key>Recurse Subdirectories</key>
<value>true</value>
</entry>
<entry>
<key>Polling Interval</key>
<value>0 sec</value>
</entry>
<entry>
<key>Ignore Hidden Files</key>
<value>true</value>
</entry>
<entry>
<key>Minimum File Age</key>
<value>0 sec</value>
</entry>
<entry>
<key>Maximum File Age</key>
</entry>
<entry>
<key>Minimum File Size</key>
<value>0 B</value>
</entry>
<entry>
<key>Maximum File Size</key>
</entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>GetFile</name>
<relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
</relationships>
<state>RUNNING</state>
<style/>
<type>org.apache.nifi.processors.standard.GetFile</type>
</processors>
<processors>
<id>ee98319a-195f-3c5d-0000-000000000000</id>
<parentGroupId>a6dfa3fc-50b9-3749-0000-000000000000</parentGroupId>
<position>
<x>672.0</x>
<y>224.0</y>
</position>
<versionedComponentId>ee98319a-195f-3c5d-8b45-a06d6e47374b</versionedComponentId>
<bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
</bundle>
<config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
<entry>
<key>record-reader</key>
<value>
<identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
<name>record-reader</name>
</value>
</entry>
<entry>
<key>record-writer</key>
<value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
<name>record-writer</name>
</value>
</entry>
<entry>
<key>include-zero-record-flowfiles</key>
<value>
<name>include-zero-record-flowfiles</name>
</value>
</entry>
<entry>
<key>cache-schema</key>
<value>
<name>cache-schema</name>
</value>
</entry>
<entry>
<key>dbf-default-precision</key>
<value>
<name>dbf-default-precision</name>
</value>
</entry>
<entry>
<key>dbf-default-scale</key>
<value>
<name>dbf-default-scale</name>
</value>
</entry>
<entry>
<key>SQL Query</key>
<value>
<name>SQL Query</name>
</value>
</entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
<entry>
<key>record-reader</key>
<value>7d9bda72-5029-33fa-0000-000000000000</value>
</entry>
<entry>
<key>record-writer</key>
<value>2679c814-427d-3108-0000-000000000000</value>
</entry>
<entry>
<key>include-zero-record-flowfiles</key>
<value>true</value>
</entry>
<entry>
<key>cache-schema</key>
<value>true</value>
</entry>
<entry>
<key>dbf-default-precision</key>
<value>10</value>
</entry>
<entry>
<key>dbf-default-scale</key>
<value>0</value>
</entry>
<entry>
<key>SQL Query</key>
<value>SELECT product_id, product_name, category, price, stock_quantity, (monthly_revenue / stock_quantity) AS average_price_per_item, region FROM FLOWFILE WHERE stock_quantity > 100 </value>
</entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
</config>
<executionNodeRestricted>false</executionNodeRestricted>
<name>QueryRecord</name>
<relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
</relationships>
<relationships>
<autoTerminate>false</autoTerminate>
<name>original</name>
<retry>false</retry>
</relationships>
<relationships>
<autoTerminate>false</autoTerminate>
<name>SQL Query</name>
<retry>false</retry>
</relationships>
<state>RUNNING</state>
<style/>
<type>org.apache.nifi.processors.standard.QueryRecord</type>
</processors>
</snippet>
<timestamp>01/13/2025 15:24:41 UTC</timestamp>
</template>
